<h2>Movies App</h2>
<br>
<div>
    <div class="row">
        <div class="col-md-3">
            <h3>Create</h3>
            <img width="50px" src="https://cdn-icons-png.flaticon.com/512/3658/3658773.png">
        </div>

        <div class="col-md-3">
            <h3>Discover</h3>
            <img width="50px" src="https://cdn-icons-png.flaticon.com/512/4775/4775908.png">
        </div>

        <div class="col-md-3">
            <h3>Organize</h3>
            <img width="50px" src="https://cdn-icons-png.flaticon.com/512/1693/1693056.png">
        </div>

    </div>
</div>
<br><br>